{% extends admin_base.html %}
{% block title %}add a blog{% end %}
{% block main %}
<h2 class="l-centered">Add a blog</h2>
<hr>
<div class="marketing-ribbon centered-div">
    <form class="pure-form pure-form-stacked" method="post">
        <fieldset>
            <label for="title">
                Title
            </label>
            <input id="title" name ="title" class="pure-input-1 add-post" type="input" placeholder="Input your title here">
            <label for="content">
                Content
            </label>
            <textarea id="content" name="content" class="pure-input-1 add-post" placeholder="Write down here"></textarea>
            <label for="tags">
                Tags
            </label>
            <div>
            {% if tags %}
            {% for tag in tags %}
            <input name="tags" type="checkbox" name="tags" value="{{tag['_id']}}"><span>{{tag['tag']}}</span>&nbsp;&nbsp; 
            {% end %}
            {% else %}
            No tags
            {% end %}
            </div>
			<p></p>
			<div>
				Author:&nbsp;{{author}}
			</div>
        </fieldset>
        <button type="submit" class="notice pure-button pure-input-1">
            Submit
        </button>
    </form>
</div>
{% end %}
