<html>
  <head>
    <title>Login - imjustfly.net</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.1.0/base-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.1.0/pure-min.css">
    <style>
      .centered{
        width:400px;
        margin:180px auto;
      }
      aside {
        background:#ca6445;
        padding: 0.3em 1em;
        border-radius: 3px;
        color: #fff;
        margin-bottom:10px;
      }
      .notice{
        background-color:#61b842;
      }
    </style>
  </head>
  <body>
    <div class="centered">
      <h2>Login:</h2>
      {% if error_msg %}
      <aside>Wrong Password!</aside>
      {% end %}
      <form class="pure-form" method="post">
        <fieldset class="pure-group">
          <input id="username" name="username" type="text" class="pure-input-1" placeholder="Username">
          <input id="pass" name="pass" type="PASSWORD" class="pure-input-1" placeholder="Password">
        </fieldset>
        <button type="submit" class="pure-button pure-input-1 notice">登录</button>
      </form>
    </div>
  </body>
</html>
