{% extends admin_base.html %}
{% block title %}tags{% end %}
{% block main %}
<h2 class="l-centered">Tags</h2>
<hr>
<div class="marketing-ribbon centered-div">
    <table class="full-size-table pure-table pure-table-bordered ">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Name
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            {% if tags %}
            {% for i,tag in enumerate(tags) %}
            <tr>
                <td>
                    {{i+1}}
                </td>
                <td>
                    <a href="/admin/tag/edit/{{str(tag['_id'])}}">{{tag['tag']}}</a>
                </td>
				{% if author == "adm" %}
                <td>
					<a href="/admin/tag/edit/{{str(tag['_id'])}}">edit</a> | <a href="/admin/tag/rm/{{str(tag['_id'])}}">delete</a>
                </td>
				{% end %}
            </tr>
            {% end %}
            {% end %}
        </tbody>
    </table>
</div>
<div class="marketing-ribbon centered-div">
    <h3>Add a new tag:</h3>
    <form class="pure-form" method="post">
        <fieldset>
            <input id="name" name="name" type="text" placeholder="Input tag name">

            <button type="submit" class="pure-button notice">submit</button>
        </fieldset>
    </form>
</div>
{% end %}
