{% extends admin_base.html %}
{% block title %}edit tag{% end %}
{% block main %}
<h2 class="l-centered">Edit User</h2>
<hr>
<div class="marketing-ribbon centered-div l-centered">
    <form class="pure-form" method="post">
        <fieldset>
			<p>password:</p>
            <input id="password" name="password" type="password" placeholder="Input user password" value="{{user['password']}}">

            <button type="submit" class="pure-button notice">submit</button>
        </fieldset>
    </form>
</div>
{% end %}
